* {
    margin: 0;
    padding: 0;
    /*默认就是normal*/
    font-weight: normal;
}

body {
    /*整体字体大小*/
    font-size: 14px;
}

a {
    /*链接去掉下划线*/
    text-decoration: none;
    color: #000;
    /*鼠标出现小手手*/
    cursor: pointer;
}

ul, ol, li {
    /*去掉原始样式*/
    list-style: none;
}

input {
    /*去掉原始样式*/
    border: 0 none;
    outline-style: none;
}

img {
    vertical-align: middle;
}
